doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Радиоуправляемые игрушки
        link(rel='stylesheet', href='../dist/css/style.css')
    body
        header.header
            .wrapper
                a.logo(href='#')
                img.dynamic-img(src='#', alt='auto')
                .social-link
                    ul
                        li.facebook
                        li.youtube
                        li.vk
                .search-field
        main
            .wrapper.content
                aside
                    nav.categories.site-navigation
                        ul
                            li.category.navigation-item
                                a(href='#') Машинки
                            li.category.navigation-item
                                a(href='#') Квадракоптеры
                            li.category.navigation-item
                                a(href='#') Вертолеты
                            li.category.navigation-item
                                a(href='#') Самолеты
                            li.category.navigation-item
                                a(href='#') Лодки
                            li.category.navigation-item
                                a(href='#') Поезда
                            li.category.navigation-item
                                a(href='#') Танки и спецтехника
                            li.category.navigation-item
                                a(href='#') Конструктор
                            li.category.navigation-item
                                a(href='#') Лего
                            li.category.navigation-item
                                a(href='#') Роботы
                            li.category.navigation-item
                                a(href='#') Животные
                    // Меняющийся контент начинается здесь
                    nav.filter-brand
                        h2.filter-title Бренды
                        ul
                            li
                                a(href='#') ARRMA
                            li
                                a(href='#') ART-TECH R/C Hobby Co
                            li
                                a(href='#') Associated Electrics
                            li
                                a(href='#') Aosenma
                            li
                                a(href='#') Attop
                            li
                                a(href='#') E-sky
                            li
                                a(href='#') FG Modellsport
                            li
                                a(href='#') FUTABA
                            li
                                a(href='#') General Silicone
                            li
                                a(href='#') Heng Long
                            li
                                a(href='#') Joysway
                            li
                                a(href='#') Kyosho
                            li
                                a(href='#') LRP Electronics
                            li
                                a(href='#') Maverick
                            li
                                a(href='#') Nine Eagles
                            li
                                a(href='#') Syma
                            li
                                a(href='#') Tamiya
                            li
                                a(href='#') Thunder Tiger
                            li
                                a(href='#') Traxxas
                            li
                                a(href='#') WLtoys
                header.content-header
                    h1.title Радиоуправляемые игрушки
                    .sort-filter
                        div
                            | Сортировать по
                            button.sort-btn новизне
                            div
                                ul
                                    li новизне
                                    li популярности
                                    li рейтингу
                section.content
                    ul.list-items
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                        li.list-item
                            a(href='#')
                                .item-stat
                                    span.item-stat-info.comments 395
                                    span.item-stat-info.views 123
                                .item-title Обзор квадрокоптера SYMA X5HW
                    button.load-more Показать еще
                // Меняющийся контент заканчивается здесь
        footer.footer
            .wrapper
                .footer-content
                    a.logo(href='#')
                    .social-link
                        ul
                            li.facebook
                            li.youtube
                            li.vk
                    v.footer-navigation
                        ul
                            li
                                a(href='#') О сайте
                            li
                                a(href='#') Написать нам
                            li
                                a(href='#') Реклама на сайте
                            li
                                a(href='#') Новости
                    nav.brand
                        h2.footer-title Производители радиоуправляемых игрушек
                        ul
                            li
                                a(href='#') ARRMA
                            li
                                a(href='#') ART-TECH R/C Hobby Co
                            li
                                a(href='#') Associated Electrics
                            li
                                a(href='#') Aosenma
                            li
                                a(href='#') Attop
                            li
                                a(href='#') E-sky
                            li
                                a(href='#') FG Modellsport
                            li
                                a(href='#') FUTABA
                            li
                                a(href='#') General Silicone
                            li
                                a(href='#') Heng Long
                            li
                                a(href='#') Joysway
                            li
                                a(href='#') Kyosho
                            li
                                a(href='#') LRP Electronics
                            li
                                a(href='#') Maverick
                            li
                                a(href='#') Nine Eagles
                            li
                                a(href='#') Syma
                            li
                                a(href='#') Tamiya
                            li
                                a(href='#') Thunder Tiger
                            li
                                a(href='#') Traxxas
                            li
                                a(href='#') WLtoys
                .copyrights
                    p
                        | Информация размещенная на сайте RC-REVIEW.COM, носит ознакомительный характер. Коипрование материалов сайта запрещено. © 2019
