doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Радиоуправляемые игрушки
        link(rel='stylesheet', href='../dist/css/style.css')
    body
        header.header
            .wrapper
                a.logo(href='#')
                img.dynamic-img(src='#', alt='auto')
                .social-link
                    ul
                        li.facebook
                        li.youtube
                        li.vk
                .search-field
        main
            .wrapper.content
                aside
                    nav.categories.site-navigation
                        ul
                            li.category.navigation-item
                                a(href='#') Машинки
                            li.category.navigation-item
                                a(href='#') Квадракоптеры
                            li.category.navigation-item
                                a(href='#') Вертолеты
                            li.category.navigation-item
                                a(href='#') Самолеты
                            li.category.navigation-item
                                a(href='#') Лодки
                            li.category.navigation-item
                                a(href='#') Поезда
                            li.category.navigation-item
                                a(href='#') Танки и спецтехника
                            li.category.navigation-item
                                a(href='#') Конструктор
                            li.category.navigation-item
                                a(href='#') Лего
                            li.category.navigation-item
                                a(href='#') Роботы
                            li.category.navigation-item
                                a(href='#') Животные
                    // Меняющийся контент начинается здесь
                    nav.table-of-contents
                        h2.list-title Содержание обзора
                        ul.contents-item-list
                            li
                                a(href='#') Упаковка
                            li
                                a(href='#') Комплектация
                            li
                                a(href='#') Внешний вид
                            li
                                a(href='#') Сколько стоит этот монстр?
                            li
                                a(href='#') Конструкция
                                ul.sub-list
                                    li Корпус
                                    li Подвес
                                    li Камера
                                    li Качество видео и фото
                                    li Мотор
                                    li Пропеллеры
                                    li Звук
                                    li Свет
                                    li Особенности
                            li
                                a(href='#') Управление
                                ul.sub-list
                                    li Программное обеспечение
                                    li Контроллер полета
                                    li Режим полета
                                    li ПДУ
                            li
                                a(href='#') Видео-обзор монстра
                            li
                                a(href='#') Зарядка и автономная работа
                            li
                                a(href='#') Преимущества и недостатки
                            li
                                a(href='#') Выводы и оценка
                .content
                    h1.title Обзор квадрокоптера Hubsan XF100
                    time(datetime='2019-04-15') 15 апреля, 2019
                    .gallery
                    p.description
                        | Hubsan XF100 - это модель квадрокоптера от комапнии Hubsan, которая попадает под стандарт 250 и оснащена FPV-комплектом с камерой, снимающей видео в HD-качестве.
                        | Модель продается в трех версиях, каждая из которых отличается техническими характеристиками.
                    .tabs
                    section.content-section
                        h2 &Ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&acy;
                        p
                            | Hubsan XF100 - это модель квадрокоптера от комапнии Hubsan, которая попадает под стандарт 250 и оснащена FPV-комплектом с камерой, снимающей видео в HD-качестве.
                            | Модель продается в трех версиях, каждая из которых отличается техническими характеристиками.
                        img(src='#', alt='hubsan')
                    section.content-section
                        h2 Комплектация
                        h3 Гаджет выпускается в двух цветовых решениях:
                        ul.features-list
                            li brushless black
                            li brushless (белый)
                        p
                            | Дизайн квадрокоптера дополнен диодной подсветкой, которая позволяет запускать его в вечернее и ночное время
                        h3 Дрон Hubsan модели XF100 в комплекте содержит:
                        ul.features-list
                            li Пульт управления
                            li Аккумулятор
                            li Зарядное устройство
                            li Блок питания к зарядке
                            li 2 несущих винта «A»
                            li 2 нисущих винта «B»
                            li Запасные несущие винты
                            li Ключ
                            li Инструкция по эксплутации
                        img(src='#', alt='hubsan')
                    article.expert-opinion
                        img.avatar(src='#', alt='expert-face')
                        div
                            header
                                span Мнение эксперта
                                h4 Карл Карлсон. Гений, мелиардер, плейбой, филантроп.
                            p
                                | Для того чтобы обновить программное обеспечение на XF100 необходимо пользоваться USB-коннектором, который находится в отсеке для АКБ.
                                | Скачать обновления на квадокоптер можно с официального ресурса компании Hubsan.
                    section.content-section
                        h2 Видеообзор
                        img(src='#', alt='видео с ютуба')
                        p
                            | Селфи беспилотники стали обычной частью повседневной жизни многих, но еще несколько лет назад это было просто идеей, которая развивалась в подвале университета.
                            | Это смело можно назвать примером удачного стартапа.
                        p
                            | На данный момент идеи, позаимствованные из этого дрона, можно встретить не толко на «селфи палках», но и на серьезных аппаратах типа Фантома и Мавика, с их слежением за объектом.
                            | Глазки и стилизация корпуса под лицо тоже стало своеобразной «фишкой». Лилу, это как хорошая книга, которую растащили на цитаты.
                        p
                            | Однако, порекомендовать покупать даже «Next gen» версию дрона я не могу. За те же деньги можно взять себе Мавик, и наслаждаться им каждую минуту бе «НО».
                            | Впрочем, сейчас это не так важно.
                        p
                            | Ну и напоследок, подпишись на наши группы в социалках, оставь коммент, поставь лайк и покорми кота. Тебе не сложно - нам приятно. До скорого, пилот!
                    section.content-section
                        h2 Статьи по теме
                        ul.list-items
                            li.list-item
                                a(href='#')
                                    .item-stat
                                        span.item-stat-info.comments 395
                                        span.item-stat-info.views 123
                                    .item-title Обзор квадрокоптера SYMA X5HW
                            li.list-item
                                a(href='#')
                                    .item-stat
                                        span.item-stat-info.comments 395
                                        span.item-stat-info.views 123
                                    .item-title Обзор квадрокоптера SYMA X5HW
                            li.list-item
                                a(href='#')
                                    .item-stat
                                        span.item-stat-info.comments 395
                                        span.item-stat-info.views 123
                                    .item-title Обзор квадрокоптера SYMA X5HW
                    .rating-filed
                        span Рейтинг
                        button.short-btn Оценить
                // Меняющийся контент заканчивается здесь
        footer.footer
            .wrapper
                .footer-content
                    a.logo(href='#')
                    .social-link
                        ul
                            li.facebook
                            li.youtube
                            li.vk
                    v.footer-navigation
                        ul
                            li
                                a(href='#') О сайте
                            li
                                a(href='#') Написать нам
                            li
                                a(href='#') Реклама на сайте
                            li
                                a(href='#') Новости
                    nav.brand
                        h2.footer-title Производители радиоуправляемых игрушек
                        ul
                            li
                                a(href='#') ARRMA
                            li
                                a(href='#') ART-TECH R/C Hobby Co
                            li
                                a(href='#') Associated Electrics
                            li
                                a(href='#') Aosenma
                            li
                                a(href='#') Attop
                            li
                                a(href='#') E-sky
                            li
                                a(href='#') FG Modellsport
                            li
                                a(href='#') FUTABA
                            li
                                a(href='#') General Silicone
                            li
                                a(href='#') Heng Long
                            li
                                a(href='#') Joysway
                            li
                                a(href='#') Kyosho
                            li
                                a(href='#') LRP Electronics
                            li
                                a(href='#') Maverick
                            li
                                a(href='#') Nine Eagles
                            li
                                a(href='#') Syma
                            li
                                a(href='#') Tamiya
                            li
                                a(href='#') Thunder Tiger
                            li
                                a(href='#') Traxxas
                            li
                                a(href='#') WLtoys
                .copyrights
                    p
                        | Информация размещенная на сайте RC-REVIEW.COM, носит ознакомительный характер. Коипрование материалов сайта запрещено. © 2019
